<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="19.0" />
  <package id="7zip.install" version="19.0" />
  <package id="cascadiacode" version="2007.01" />
  <package id="cascadiacodepl" version="2007.01" />
  <package id="chocolatey" version="0.10.15" />
  <package id="chocolatey-core.extension" version="1.3.5.1" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-font-helpers.extension" version="0.0.2" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.4" />
  <package id="chocolateygui" version="0.17.2" />
  <package id="Cmder" version="1.3.16" />
  <package id="copyq" version="3.12.0" />
  <package id="curl" version="7.71.1" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="DotNet4.6.1" version="4.6.01055.20170308" />
  <package id="dotnet4.6.2" version="4.6.01590.20190822" />
  <package id="f.lux" version="4.118" />
  <package id="f.lux.install" version="4.118" />
  <package id="gh" version="0.11.1" />
  <package id="git" version="2.28.0" />
  <package id="git.install" version="2.28.0" />
  <package id="github-desktop" version="2.5.3" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="microsoft-windows-terminal" version="1.1.2021.0" />
  <package id="netfx-4.6.2" version="4.6.2.20190930" />
  <package id="nodejs-lts" version="12.18.3" />
  <package id="notepadplusplus" version="7.8.9" />
  <package id="notepadplusplus.install" version="7.8.9" />
  <package id="nsis" version="3.5.0.20200106" />
  <package id="nsis.install" version="3.5.0.20200106" />
  <package id="postman" version="7.29.1" />
  <package id="powertoys" version="0.20.1" />
  <package id="PresenceLight" version="2.0.68" />
  <package id="putty.install" version="0.74" />
  <package id="sharex" version="13.1.0" />
  <package id="spotify" version="1.1.38.558" />
  <package id="sql-server-management-studio" version="15.0.18338.0" />
  <package id="SQLite" version="3.32.3" />
  <package id="sqlitebrowser" version="3.12.0" />
  <package id="sqlitebrowser.install" version="3.12.0" />
  <package id="vcredist140" version="14.26.28720.3" />
  <package id="vcredist2010" version="10.0.40219.2" />
  <package id="vcredist2013" version="12.0.40660.20180427" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vscode" version="1.47.3" />
  <package id="vscode.install" version="1.47.3" />
  <package id="webex-meetings" version="40.7.6.10" />
  <package id="winrar" version="5.91" />
</packages>